
<form [formGroup]="jobGroup" (ngSubmit)="onSubmit()">
        <p>
            <label for="Title">Titre de l'emploi : </label>
            <input type="text" id="Title" formControlName="Title" required="required">
            <strong *ngIf="jobGroup.get('Title')?.hasError('required')">
                Le titre n'est pas renseigné
            </strong>
        </p>
            <label for="Description">Description : </label>
            <input type="text" required id="Description" formControlName="Description">
            <strong *ngIf="jobGroup.get('Description')?.hasError('required')">
                La Description n'est pas renseigné
            </strong>
            <p>
                <label for="Salary">Salaire : </label>
                <input type="text" id="Salary" formControlName="Salary">
            </p>

            <p>
                <label for="DateOfPublish">Date de publication : </label>
                <input type="date" id="DateOfPublish" formControlName="DateOfPublish">
            </p>
            <p>
                <label for="Location">Localisation : </label>
                <input type="text" id="Location" formControlName="Location">
            </p>
    
    <button type="submit"onsubmit="onSubmit()" >Créer un job</button>
</form>

